name: Commit message lint
on:
    pull_request:
        types: [opened, synchronize, reopened]
jobs:
    commitlint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with: { fetch-depth: 0 }
            - name: Install deps
              run: |
                  corepack enable
                  yarn --version
                  yarn install --immutable || yarn install
            - uses: wagoid/commitlint-github-action@v6
              with:
                  configFile: commitlint.config.mjs
