name: PR title lint
on:
    pull_request_target:
        types: [opened, edited, synchronize]
permissions:
    pull-requests: read
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: amannn/action-semantic-pull-request@v5
              with:
                  types: |
                      feat,fix,chore,docs,refactor,test,build,ci,perf
                  requireScope: false
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
